 <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" xmlns:th="http://www.thymeleaf.org">
        <a class="navbar-brand" th:href="@{/}">Kit Car</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/kitclubKMA/">About us</a>
                </li>
                <li th:if="${#request.userPrincipal !=null}" class="nav-item">
                    <a id="username" class="nav-link" th:href="@{/userInfo}" th:utext="${#request.userPrincipal.getName()}"></a>
                </li>
                <li th:if="${#request.userPrincipal != null}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>

            </ul>
        </div>
    </nav>